/* Overrides */
#wulc, #wtc, #wurc, #ctc {
	display: none !important;
}

.rcard > img:first-child, .rcard > img:nth-child(2) {
	display: none;
}

.rcard > div.title {
	width: calc(100% - 30px) !important;
	padding: 4px 5px 0;
	height: 16px;
}

TABLE.selfSchedule TH, TABLE.selfSchedule TD {
	border-color: #aaa !important;
}

#ctl00_formContentPlaceHolder_orgUnitScheduleHeaderSeparatorTable > tbody > .mh.noBottom,
#ctl00_formContentPlaceHolder_orgUnitScheduleSeparatorTable > tbody > .mh.noBottom {
	display: none;
}
#ctl00_formContentPlaceHolder_orgUnitScheduleHeaderSeparatorTable .cellContents {
	color: transparent;
}

#ctl00_formContentPlaceHolder_employeeScheduleDivctl00_formContentPlaceHolder_employeeScheduleDiv,
#ctl00_formContentPlaceHolder_scheduleExceptionTableContainer,
#ctl00_formContentPlaceHolder_employeeScheduleDiv,
#mainContentDiv,
#west_side_div
{
	overflow-y: auto !important;
}

/*Date range*/
#ctl00_formContentPlaceHolder_dateRangeLabel {
	line-height: 20px;
}

#ctl00_formContentPlaceHolder_scheduleExceptionTableContainer,
ctl00_formContentPlaceHolder_scheduleExceptionTableContainer + table {
	overflow-y: scroll;
}
#ctl00_formContentPlaceHolder_scrollDiv {
	overflow-x: auto;
	/*display: none;*/
}

iframe#Main html {
	overflow: auto !important;
	height: auto !important;
}
#mainContentDiv {
	/*overflow-x: hidden;*/
}

.selfScheduleOuter {
	margin-bottom: -1px;
}

/* Animations */
@keyframes bounceIn {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}

	20% {
		transform: scale3d(1.25, 1.25, 1.25);
	}

	40% {
		transform: scale3d(0.8, 0.8, 0.8);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.1, 1.1, 1.1);
	}

	80% {
		transform: scale3d(0.9, 0.9, 0.9);
	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

.bounceIn {
	animation-duration: 1s;
	animation-name: bounceIn;
	animation-iteration-count: 1;
}

/* Material Button */
.material-button-raised {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	margin: -3px 0 15px;
	border: none;
	border-radius: 2px;
	padding: 10px;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background-color: #2196f3;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
	font-size: 14px;
	font-weight: 500;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	transition: box-shadow 0.2s;
}

.material-button-raised:hover,
.material-button-raised:focus {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.material-button-raised:active {
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.material-button-raised:disabled {
	color: rgba(0, 0, 0, 0.38);
	background-color: rgba(0, 0, 0, 0.12);
	box-shadow: none;
	cursor: initial;
}

.material-button-raised::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: currentColor;
	opacity: 0;
	transition: opacity 0.2s;
}

.material-button-raised:hover::before {
	opacity: 0.12;
}

.material-button-raised:focus::before {
	opacity: 0.2;
}

.material-button-raised:active::before {
	opacity: 0.32;
}

.material-button-raised:disabled::before {
	opacity: 0;
}

.material-button-raised::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 18px;
	border-radius: 50%;
	padding: 50%;
	width: 32px;
	height: 32px;
	background-color: currentColor;
	opacity: 0;
	transform: translate(-50%, -50%) scale(1);
	transition: opacity 1s, transform 0.5s;
}

.material-button-raised:active::after {
	opacity: 0.4;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0s;
}

.material-button-raised:disabled::after {
	opacity: 0;
}

